# Auto detect text files and perform LF normalization

*.java linguist-language=Java
*.xml linguist-language=XML
*.sql linguist-language=SQL
*.js linguist-language=JavaScript
*.css linguist-language=CSS
